
<nav class="navbar navbar-expand-lg  navbar-dark fixed-bottom  bg-dark bg-opacity-70 mt-9">
  <div class="col-md-4">
        <a class="nav-link text-white text-center px-3" href="/favorites"><i class="fa fa-star" style="font-size: 300%;" aria-hidden="true"></i></a>
  </div>
  <div class="col-md-4">
    <a class="nav-link text-white text-center px-3" href="/"><i class="fa fa-users" style="font-size: 300%;" aria-hidden="true"></i></a>
  </div>
  <div class="col-md-4">
    <a class="nav-link text-white text-center px-3" href="/add-contact"><i class="fa fa-plus" style="font-size: 300%;" aria-hidden="true"></i></a>
  </div>
</nav>
